nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(53, 61, 77);
  color: #fff;
}

.navMenu{
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.navMenu a{
  margin-left: 3rem;
  cursor: pointer;
  color: #fff;
  border: none;
  padding: .5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
}

.navMenu a:active {
  color: #fff;
  text-decoration: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}